@model IEnumerable<Discipline>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Технологии</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var discipline in Model)
        {
            <tr>
                <td> @discipline.Title </td>
                <td>
                    @foreach (var technology in discipline.Technologies)
                    {
                        @technology.Title<span>; </span>
                    }
                </td>
                <td class="float-right">
                    <a asp-action="Update" asp-route-id="@discipline.Id" class="btn btn-outline-primary">Редактировать</a>
                    <a asp-action="Remove" asp-route-id="@discipline.Id" class="btn btn-outline-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>