@model IEnumerable<Position>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Отдел</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var position in Model)
        {
            <tr>
                <td> @position.Title </td>
                <td> @position.Department.Title </td>
                <td class="float-right">
                    <a asp-action="Update" asp-route-id="@position.Id" class="btn btn-outline-primary">Редактировать</a>
                    <a asp-action="Remove" asp-route-id="@position.Id" class="btn btn-outline-primary">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>